{% extends 'dc_design/dc_design_base.html' %}
{% load static %}

{% block title %}
<title>DarkCreator | About</title>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'gallery/css/dc_design_page.css' %}">
{% endblock %}


{% block main_sector %}
<div class="content">
  <div class="content__text text">
    <h2 class="first">Коротко про сайт</h2>
    <p>Это энная (кажется 5ая) реинкарнация сайта <a href="{% url 'dc_gallery:index' %}">darkcreator.ru</a>.</p>
    <p>На этот раз бэкэнд - фрейморк Django (python) и фронтэтд - чистый css и немного jquery.</p>
    <p>Сайт, по задумке, является агрегатором медиаконтента из моих соцсетей. Пока что только фото с
    <a href="https://vk.com">vk</a>, в будущем планирую подгрузить другие соцсети и контент. Фото видны всем пользователям,
    независимо от наличия у них аккаунта в данной соцсети.</p>
    <h2>Почему я назвалась DarkCreator</h2>
    <p>В далёкие времена я отдыхала на Кавказе (район Геленджика) и это продолжалось доволь
    длительное время, и в относительно спартанских условиях, так что я уже начала скучать по дому.
    И однажды я посмотрела на полную луну над морем, или море просто было рядом, в общем просто посмотрела
    на полную луну, когда вышла ночью из вагончика, и подумала что приеду домой, зелезу в интернет и назовусь DarkCreator!</p>
    <p>Сказано - сделано. С тех пор так и повелось! Скорее всего такой выбор никнейма связан с
    любовь к тяжёлой музыке. И да, я знаю, не одна я так назвалась :)</p>
  </div>
</div>
{% endblock %}
