{% extends 'dc_design/dc_design_base.html' %}

{% block title %}
<title>DarkCreator Gallery</title>
{% endblock %}

{% block main_sector %}

        <aside class="sidebar">
          <ul class="sidebar__list">
            {% for tag in tags %}
            <li class="sidebar__link {% if tag.pk == tag_target.pk %}active{% endif %}">
              <a href="{% url 'dc_gallery:gallery_tag' tag.pk %}">{{tag.name}}</a>
            </li>
            {% endfor %}
          </ul>
        </aside>
        <section class="content">
          <!-- <div class="content__info">Всего {{ num_of_media }} объектов.
            {{ request.get_full_path }}
            {{ request.path }}
          </div> -->
          <section class="content__gallery gallery">
            <div class="gallery__items">
              {% for media in media_list %}
              <div class="gallery__item">
                <a href="{{ media.url }}"
                 class="fresco"
                 data-fresco-caption="{{ media.description_auto }}"
                 data-fresco-group="gallery"
                 data-fresco-group-options="thumbnails: 'vertical', ui: 'inside', uiDelay: 1500, position: false">
                <img src="{% firstof media.url_thumbnail media.url %}"
                alt="{% firstof media.description_auto|truncatechars:100 media.type|add:' from '|add:media.source %}">
                </a>
                <div class="gallery__item_info">
                  <a class="item__more" href="{% url 'dc_gallery:media_detail' media.pk %}">More</a>
                </div>
              </div>
              {% endfor %}
            </div>
          </section>
          {% if media_list.paginator.num_pages > 1 %}
          <section class="content__page page">
            <ul class="page__list">
              {% for page in media_list.paginator.page_range %}
                {% if page == media_list.number %}
                <li class="page__link active"><a href="{{request.path}}?page={{page}}">{{page}}</a></li>
                {% else %}
                <li class="page__link"><a href="{{request.path}}?page={{page}}">{{page}}</a></li>
                {% endif %}
              {% endfor %}
            </ul>
          </section>
          {% endif %}


{% endblock %}
