{% load static %}
{% load dcarw %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>List of medias for Edit | Table view</title>
    <link rel="stylesheet" href="{% static 'parse/css/edit_media_table.css' %}">
  </head>
  <body>
    <div class="container">
      {% comment %}
      <div class="avatars">
        {% for media_thumb in media_thumb_list %}
          <div class="avatar">
              <a href="{% url 'dc_parse:edit_media' media_pk=media_thumb.media %}">
                <img src="{{ media_thumb.s }}" alt="">
              </a>
          </div>
        {% endfor %}
      </div>
      {% endcomment %}
      <div class="media_list">
        <table>
          <caption>Media Edit in details</caption>
          <colgroup>
            <col class="table_id">
            <col class="table_avatar">
            <col class="table_time">
            <col class="table_description">
            <col class="table_time">
            <col class="table_time">
            <col class="table_action">
          </colgroup>
          <tr>
            <th>ID</th>
            <th>Avatar</th>
            <th>Created date</th>
            <th>Description</th>
            <th>Added date</th>
            <th>Last update</th>
            <th>What was updated</th>
          </tr>
          {% for media in media_list %}
          <tr>
            <td>{{media.pk}}</td>
            <td>
              <div class="avatar">
                {% with media_ava=media_thumb|get_at_index:media.pk %}
                <a href="{% url 'dc_parse:edit_media' media_pk=media.pk %}">
                  <img src="{{ media_ava }}" alt="">
                </a>
                {% endwith %}
              </div>
            </td>
            <td>{{media.created_date|date:"d N Y"}}</td>
            <td>
              {% if media.description_auto %}
              <div class="description_auto">
                {{media.description_auto|truncatechars:210}}
              </div>
              {% endif %}
              {% if media.description_me %}
              <div class="description_me">
                {{media.description_me|truncatechars:210}}
              </div>
              {% endif %}
            </td>
            <td>{{media.when_add_date|date:"d N Y"}}</td>
            {% with media_stat=media_statupload|get_at_index:media.pk %}
            <td>{{media_stat.time|date:"d N Y"}}</td>
            <td>{{media_stat.action}}</td>
            {% endwith %}
          </tr>
          {% endfor %}
        </table>
      </div>
      <div class="page">
          <ul class="page__list">
            {% for page in media_list.paginator.page_range %}
              {% if page == media_list.number %}
              <li class="page__link active"><a href="{{request.path}}?page={{page}}">{{page}}</a></li>
              {% else %}
              <li class="page__link"><a href="{{request.path}}?page={{page}}">{{page}}</a></li>
              {% endif %}
            {% endfor %}
          </ul>
      </div>
    </div>
  </body>
</html>
