{% load cache %}
{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Edit media {{media.pk}} form</title>
    <link rel="stylesheet" href="{% static 'parse/css/edit_media.css' %}">
  </head>
  <body>
    <div class="container" style="width: 90%">

      <div class="links">
        <a href="{% url 'dc_parse:edit_media_list_ava' %}">Ava</a>
        <a href="{% url 'dc_parse:link_all' %}">All links</a>
        <a href="{% url 'dc_parse:edit_media_list_table' %}">Table</a>
      </div>

      <h3>Edit media {{media.pk}}</h3>
      <div class="image">
        <a class="fresco"
        data-fresco-group="image"
        data-fresco-group-options="thumbnails: false, position: false, overflow: false"
        href="{{media.url}}">
          <img src="{% firstof media.url_thumbnail media.url %}" alt="{{media.name}}">
        </a>
      </div>

      <form method="POST" class="form">{% csrf_token %}
          {{ form.as_p }}
          <button type="submit">Save</button>
      </form>

      {% comment %}
      <div class="debug">{{debug}}</div>
      {% endcomment %}
    </div>
  </body>
</html>
