<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Edit test</title>
  </head>
  <body>
    <div class="container" style="width: 90%">
      <h3>Test form</h3>
      <form method="POST" class="form">{% csrf_token %}
          {{ form.as_p }}
          {# form_media.as_p #}
          <button type="submit" id="b1" class="b1c">Save</button>
          <button type="submit" id="b2" class="b2c">Save 2</button>
      </form>
      <div class="debug">{{debug}}</div>
      <div style="width=100%">
        <p>1</p>
        <pre>{{request.body}}</pre>
        <p>2</p>
        <pre>{{request.scheme}}</pre>
        {% if request.scheme == 'http' %}
        var 1
        {% else %}
        var 2
        {% endif %}
      </div>
    </div>
  </body>
</html>
