<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Get photo</title>
  </head>
  <body>
    <div class="container" style="width: 90%">
      Album: {{album}}
      Auto tags:
      {% for tag in tags %}
        {% if tag is tags|last %}
          {{tag}}
        {% else %}
          {{tag}},
        {% endif %}
      {% endfor %}

      {% for img in imgs %}
        <p>{{img.id}}</p>
        <div class="img" style="margin-bottom: 15px">
          <img src="{{img.sizes.0.url}}" alt="">
        </div>
      {% endfor %}
    </div>
  </body>
</html>
