{% extends 'dc_design_base.html' %}

{% block title %}
<title>DarkCreator Gallery</title>
{% endblock %}

{% block main_sector %}

        <aside class="sidebar">
          <ul class="sidebar__list">
            <li class="sidebar__link"><a href="#">Sidemenuitem</a></li>
            <li class="sidebar__link active"><a href="#">Side</a></li>
            <li class="sidebar__link"><a href="#">Sidemenu</a></li>
            <li class="sidebar__link"><a href="#">Sinuitem</a></li>
            <li class="sidebar__link"><a href="#">Sidemitem</a></li>
            <li class="sidebar__link"><a href="#">Side</a></li>
            <li class="sidebar__link"><a href="#">Sideitem</a></li>
            <li class="sidebar__link"><a href="#">Sidemetem</a></li>
            <li class="sidebar__link"><a href="#">Sideitem</a></li>
            <li class="sidebar__link"><a href="#">Sidnuitem</a></li>
            <li class="sidebar__link"><a href="#">Sidemuitem</a></li>
            <li class="sidebar__link"><a href="#">Sideitem</a></li>
            <li class="sidebar__link"><a href="#">Sidemeuitem</a></li>
            <li class="sidebar__link"><a href="#">Sidemetem</a></li>
            <li class="sidebar__link"><a href="#">Siditem</a></li>
            <li class="sidebar__link"><a href="#">Sidemsitem</a></li>
          </ul>
        </aside>
        <section class="content">
          <section class="content__gallery gallery">
            <div class="gallery__items">
              <div class="gallery__item gallery__item_big">
                <img src="../1_test-gallery/img/1.jpg" alt="">
              </div>
              <div class="gallery__item">
                <img src="../1_test-gallery/img/2.jpg" alt="">
              </div>
              <div class="gallery__item">
                <img src="../1_test-gallery/img/3.jpg" alt="">
              </div>
              <div class="gallery__item gallery__item_big">
                <img src="../1_test-gallery/img/4.jpg" alt="">
              </div>
              <div class="gallery__item">
                <img src="../1_test-gallery/img/5.jpg" alt="">
              </div>
              <div class="gallery__item">
                <img src="../1_test-gallery/img/6.jpg" alt="">
              </div>
              <div class="gallery__item">
                <img src="../1_test-gallery/img/7.jpg" alt="">
              </div>
              <div class="gallery__item">
                <img src="../1_test-gallery/img/8.jpg" alt="">
              </div>
              <div class="gallery__item">
                <img src="../1_test-gallery/img/9.jpg" alt="">
              </div>
              <div class="gallery__item">
                <img src="../1_test-gallery/img/10.jpg" alt="">
              </div>
            </div>
          </section>
          <section class="content__page page">
            <ul class="page__list">
              <li class="page__link"><a href="">1</a></li>
              <li class="page__link"><a href="">2</a></li>
              <li class="page__link active"><a href="">3</a></li>
              <li class="page__link passive">...</li>
              <li class="page__link"><a href="">7</a></li>
              <li class="page__link"><a href="">8</a></li>
              <li class="page__link passive">...</li>
              <li class="page__link"><a href="">14</a></li>
              <li class="page__link"><a href="">15</a></li>
              <li class="page__link"><a href="">16</a></li>
            </ul>
          </section>
          <!-- <div class="lorem">
            <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum veniam saepe accusantium quo dolor, doloribus atque deserunt maxime dolore, nisi qui autem, at aliquid repellat voluptatem eum, explicabo repellendus facilis.</div>
            <div>Rem sed beatae minima impedit quod quaerat, nisi voluptatibus reiciendis quas delectus, facilis molestias libero labore itaque eligendi facere, natus provident perferendis quos? Id fuga, minima voluptatem aut officia expedita.</div>
            <div>Quasi quo debitis iste aspernatur voluptatum. Sapiente voluptatum consequatur, accusamus voluptas odit recusandae in expedita, commodi unde similique nisi ab laborum nesciunt cumque natus cum mollitia necessitatibus dolorem magni fuga!</div>
            <div>Dignissimos voluptatibus tempore, sunt, labore sed similique ducimus maxime beatae, eaque, corporis architecto esse delectus. Facere, esse temporibus porro numquam et autem explicabo pariatur sapiente iure consequatur, doloremque quaerat quisquam.</div>
            <div>Facilis accusantium vero inventore dolorum voluptatum, unde beatae similique eligendi culpa praesentium tempora, suscipit quis, commodi porro. Ipsam tenetur soluta quibusdam culpa enim ipsum accusamus reiciendis sint sapiente corporis. Fugiat!</div>
            <div>Sunt porro, possimus! Dicta voluptatem sapiente commodi sint, quas, cupiditate vel tempore, harum rerum et ullam aliquam expedita consequatur velit itaque soluta, nemo magni. Veritatis hic, autem dolorem facere fuga!</div>
            <div>Ratione, quos cum! Praesentium ea quisquam perferendis sequi, architecto ipsa perspiciatis at iste unde nemo enim nam, repellat. At laborum aspernatur fugiat cupiditate iure voluptas ab, veniam recusandae quas explicabo.</div>
            <div>Eligendi eum molestiae rerum fuga laborum, tempora atque iste illo. Qui atque suscipit facere consequuntur aperiam saepe quo omnis nobis autem dicta quaerat, iste voluptate fugit praesentium quae. Et, nobis.</div>
            <div>Temporibus error ut fugiat in maiores nam officiis odio. Deleniti quod, dignissimos qui ea ab incidunt, pariatur recusandae ut ducimus animi similique nihil ratione exercitationem tempore, hic vel perferendis voluptas!</div>
            <div>Sunt veritatis dolore ratione laudantium suscipit aliquid aliquam repellat rerum optio et omnis ut nobis adipisci placeat quos eum, nihil aspernatur provident dignissimos, minus in possimus! Rerum voluptatem atque, provident.</div>
            <div>Unde obcaecati dolore tempore illo fuga quibusdam et voluptatibus atque excepturi. Recusandae commodi animi veritatis distinctio voluptatum corrupti minus dignissimos quaerat praesentium aliquam nisi, odit consequuntur. Pariatur laborum quidem cumque!</div>
            <div>Ratione odio, quis veniam iure officiis excepturi minus dolore accusamus adipisci voluptate sed, quas voluptas, tempora ex quod explicabo laboriosam placeat vel quo veritatis deleniti tenetur neque nobis. Suscipit, totam!</div>
            <div>Non, in odio voluptatum, quasi perspiciatis, sit veniam id officia aperiam nemo, laborum sed ut placeat ea aspernatur doloremque doloribus. Minima, porro quaerat. Voluptates cum ad voluptatibus, suscipit quaerat nihil.</div>
            <div>Ipsa at recusandae nam dolorem facere. Adipisci, error. Velit magnam nisi laborum, fugit quae possimus repudiandae maiores ipsam doloribus itaque, aperiam eius sequi dolor earum. Possimus voluptate, beatae id quisquam?</div>
            <div>Laborum nemo ratione, doloremque eum minus corporis error amet reprehenderit! Eveniet hic laudantium voluptatum, minus iste possimus porro et, impedit magni beatae qui distinctio. Mollitia, alias, doloremque. Pariatur, debitis, ipsa?</div>
            <div>Alias dolor, perspiciatis ipsa rem eos iure doloremque qui vel ex deleniti quam tempora voluptas natus est obcaecati, fugiat, quae! Autem adipisci harum, quaerat mollitia ducimus. Ea consequuntur saepe, quo.</div>
            <div>Officia mollitia similique nam vitae sapiente, commodi, rerum quibusdam quod! Ad velit sed laboriosam cupiditate saepe quasi, provident reiciendis tempora quibusdam. Vel omnis est fugit sequi sunt atque, nihil facilis!</div>
            <div>Nobis itaque deleniti minus, pariatur nihil, dolorem voluptatum facilis accusantium, quod nostrum ex! Facilis laudantium eum veritatis officia quisquam in, libero illum consequatur perspiciatis quae dolorum labore sit adipisci, beatae.</div>
            <div>Illum repudiandae consectetur aliquam ratione adipisci deleniti, quisquam quis iste sequi fugiat reiciendis? Facere dolorum at qui officiis necessitatibus animi blanditiis, laudantium esse fugit architecto molestiae repudiandae quasi quis tenetur.</div>
            <div>Ullam officia vel quo officiis dolorum cum, quam recusandae nihil fuga esse numquam ipsam praesentium rerum doloribus accusamus necessitatibus voluptatum quidem! Voluptates temporibus, ipsam nemo provident culpa facilis modi cum.</div>
          </div> -->

{% endblock %}
